@{
    Layout = null; // Or remove it to use default, but let's see _Testlayout content first
}

<div class="row">
    <div class="col-sm-4 border">col-sm-4</div>
    <div class="col-sm-4 border">col-sm-4</div>    
    <div class="col-sm-4 border">col-sm-4</div>
</div>
<div class="row">
    <div class="col-md-4 border">col-md-4</div>
    <div class="col-md-4 border">col-md-4</div>  
    <div class="col-md-4 border">col-md-4</div>
</div>
<div class="row">
    <div class="col-lg-4 border">col-lg-4</div>
    <div class="col-lg-4 border">col-lg-4</div>
    <div class="col-lg-4 border">col-lg-4</div>
</div>
<div class="row">
    <div class="col-xl-4 border">col-xl-4</div>
    <div class="col-xl-4 border">col-xl-4</div>
    <div class="col-xl-4 border">col-xl-4</div>
</div>
<div class="container" style="border: 1pt solid #ff0000;">
    container
</div>
<div class="container-fulid" style="border: 1pt solid #ff0000;">
    container-fulid
</div>
<p class="text-start">Text1</p>
<p class="text-center">Text1</p>
<p class="text-end">Text1</p>

<div class="container">
    <h1>Promotion 11.11</h1>
    <blockquote class="blockquote">โปรโมชั่นพิเศษฉลอง 11 เดือน 11</blockquote>
    <footer class="blockquote-footer">ที่มา : อาจารย์นัท</footer>
</div>
<br>
<div class="btn-group">
    <button>ปุ่ม</button>
    <button class="btn">ปุ่ม  bootstrap</button>
    <button class="btn btn-primary">ปุ่ม  bootstrap</button>
    <button class="btn btn-secondary">ปุ่ม  bootstrap</button>
    <button class="btn btn-info">ปุ่ม  bootstrap</button>
    <button class="btn btn-warning">ปุ่ม  bootstrap</button>
    <button class="btn btn-danger">ปุ่ม  bootstrap</button>
    <button class="btn btn-success">ปุ่ม  bootstrap</button>
    <button class="btn btn-dark">ปุ่ม  bootstrap</button>
    <button class="btn btn-light text-info">ปุ่ม  bootstrap</button>
</div>

