@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bagery @ViewBag.R1</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<form asp-controller="Account" asp-action="Test2" method="get">
    <button type="submit" class="btn btn-primary">
        clickไปร้าน
    </button>
</form>


